@use "variable" as *;

// dialog样式
.el-dialog {
  transition: width 0.3s;

  .el-dialog__body {
    padding: 10px 20px;
  }
}

.el-image {
  .el-image__inner {
    opacity: 1;
  }

  .el-image__placeholder {
    background: none;
  }
}
