@use "wtc-perspective-card/dist/wtc-perspective-card" as *;

.perspective-card__transformer {
  border-radius: inherit;
}

.perspective-card__shine {
  border-radius: inherit;
}

.perspective-card__artwork {
  border-radius: inherit;
}
