@import "./sc";
@import "./tc";
@import "./jp";
@import "./en";

.yugioh-container {
    .yugioh-card {
        width: 1393px;
        height: 2031px;
        display: inline-flex;
        flex-wrap: wrap;
        vertical-align: top;
        position: relative;
        user-select: none;
        color: black;
        transform-origin: 0 0;
        overflow: hidden;

        .card-name {
            position: absolute;
            left: 116px;
            width: 1030px;

            ::v-deep(.ruby) {
                .rt {
                    font-size: 18px;
                    top: 3px;
                }
            }
        }

        .card-attribute {
            position: absolute;
            left: 1159px;
            top: 96px;
        }

        .card-level {
            position: absolute;
            top: 250px;

            .el-image {
                margin-left: 3px;
            }
        }

        .card-rank {
            position: absolute;
            top: 250px;

            .el-image {
                margin-right: 3px;
            }
        }

        .spell-trap {
            position: absolute;
            display: flex;
            align-items: center;

            ::v-deep(.ruby) {
                .rt {
                    font-size: 18px;
                    top: -2px;
                }
            }

            .el-image {
                display: flex;
                min-width: 72px;
            }
        }

        .card-image {
            position: absolute;

            .el-image {
                width: 100%;
                height: 100%;

                .image-slot {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-size: 120px;
                    color: $normal-color;
                }
            }
        }

        .card-mask {
            position: absolute;
            z-index: 10;
        }

        .left-pendulum {
            position: absolute;
            top: 1379px;
            left: 93px;
            width: 95px;
            font-family: ygo-atk-def, serif;
            font-size: 98px;
            text-align: center;
            letter-spacing: -10px;
            z-index: 20;
        }

        .right-pendulum {
            position: absolute;
            top: 1379px;
            right: 104px;
            width: 95px;
            font-family: ygo-atk-def, serif;
            font-size: 98px;
            text-align: center;
            letter-spacing: -10px;
            z-index: 20;
        }

        .pendulum-description {
            position: absolute;
            left: 221px;
            width: 950px;
            text-align: justify;
            z-index: 20;

            ::v-deep(.ruby) {
                .rt {
                    font-size: 12px;
                    top: -5px;
                }
            }
        }

        .card-package {
            position: absolute;
            font-family: ygo-password, serif;
            font-size: 40px;
            z-index: 20;
        }

        .link-arrow {
            .el-image {
                position: absolute;
                z-index: 20;
            }
        }

        .card-description {
            position: absolute;
            left: 109px;
            width: 1170px;
            text-align: justify;
            z-index: 20;

            .card-effect {
                white-space: nowrap;

                ::v-deep(.ruby) {
                    .rt {
                        font-size: 14px;
                        top: -3px;
                    }
                }
            }

            .description-info {
                ::v-deep(.ruby) {
                    .rt {
                        font-size: 12px;
                        top: -5px;
                    }
                }
            }
        }

        .atk-def-link {
            position: absolute;
            left: 109px;
            top: 1844px;
            z-index: 20;
        }

        .card-atk {
            position: absolute;
            right: 395px;
            top: 1845px;
            font-family: ygo-atk-def, serif;
            font-size: 61px;
            letter-spacing: 2px;
            z-index: 20;
        }

        .card-def {
            position: absolute;
            right: 124px;
            top: 1845px;
            font-family: ygo-atk-def, serif;
            font-size: 61px;
            letter-spacing: 2px;
            z-index: 20;
        }

        .card-link {
            position: absolute;
            right: 116px;
            top: 1846px;
            font-family: ygo-link, serif;
            font-size: 54px;
            letter-spacing: 2px;
            z-index: 20;
        }

        .card-password {
            position: absolute;
            left: 66px;
            top: 1929px;
            font-family: ygo-password, serif;
            font-size: 40px;
            z-index: 20;
        }

        .card-copyright {
            position: absolute;
            top: 1936px;
            right: 141px;
            z-index: 20;
        }

        .card-laser {
            position: absolute;
            left: 1276px;
            top: 1913px;
            z-index: 20;
        }

        &.card-back {
            * {
                display: none;
            }
        }
    }

    .form-main {
        .font-loading {
            display: flex;
            align-items: center;
            color: $primary-color;
            margin-bottom: 20px;

            i {
                margin-right: 10px;
                font-size: 18px;
            }
        }

        .arrow-form {
            width: 130px;
            display: flex;
            flex-wrap: wrap;
            margin-right: -10px;
            margin-bottom: -10px;

            .arrow-item {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                margin-bottom: 10px;
                border: 1px solid $border-color;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: $placeholder-color;
                font-size: 18px;
            }
        }

        .button-group {
            .el-row {
                margin-top: -20px;

                .el-col {
                    margin-top: 20px;

                    ::v-deep(.el-upload) {
                        width: 100%;
                    }

                    .el-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}
