.jp-class {
  font-family: ygo-jp, serif;

  .card-name {
    top: 95px;
    font-size: 108px;

    ::v-deep(.ruby) {
      .rt {
        font-size: 18px;
        top: 3px;
      }
    }

    ::v-deep(.text-gradient) {
      .rt {
        top: 5px;
      }
    }
  }

  .spell-trap {
    top: 250px;
    font-size: 80px;
    right: 130px;

    ::v-deep(.ruby) {
      .rt {
        font-size: 18px;
        top: -2px;
      }
    }

    .spell-trap-icon {
      margin-top: 10px;
    }
  }

  .pendulum-description {
    top: 1286px;
    font-size: calc(36px * var(--descriptionZoom));
    line-height: 1.18;

    ::v-deep(.ruby) {
      .rt {
        font-size: calc(12px * var(--descriptionZoom));
        top: calc(-5px * var(--descriptionZoom));
      }
    }
  }

  .card-description {
    top: 1525px;
    font-size: calc(38px * var(--descriptionZoom));
    line-height: 1.18;

    .card-effect {
      font-size: 46px;
      margin: 0 -0.2em;
      margin-bottom: -16px;

      ::v-deep(.ruby) {
        .rt {
          font-size: 14px;
          top: -3px;
        }
      }
    }

    .description-info {
      margin-top: 16px;

      ::v-deep(.ruby) {
        .rt {
          font-size: calc(12px * var(--descriptionZoom));
          top: calc(-5px * var(--descriptionZoom));
        }
      }
    }
  }
}
