.sc-class {
    font-family: ygo-sc, 楷体, serif;

    .card-name {
        top: 100px;
        font-size: 108px;
    }

    .spell-trap {
        top: 256px;
        font-size: 76px;
        right: 94px;
        letter-spacing: 2px;

        .spell-trap-icon {
            margin-left: 10px;
        }
    }

    .pendulum-description {
        top: 1282px;
        font-size: calc(36px * var(--descriptionZoom));
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .card-description {
        top: 1528px;
        font-size: calc(36px * var(--descriptionZoom));
        letter-spacing: 2px;
        line-height: 1.2;

        .card-effect {
            font-size: 44px;
            margin: 0 -0.5em;
        }
    }
}
