@import "variable";
@import "form";

// dialog样式
.el-dialog {
    transition: width 0.3s;

    .el-dialog__body {
        padding: 10px 20px;
    }
}

// 滚动条样式
.scrollbar {
    height: 100%;

    .el-scrollbar__wrap {
        overflow-x: hidden;
    }
}
