// 主题色
$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$main-color: #303133;
$normal-color: #606266;
$info-color: #909399;
$placeholder-color: #c0c4cc;
$border-color: #dcdfe6;