.sc-class {
    font-family: ygo-sc, 楷体, serif;

    .card-name {
        top: 100px;
    }

    .spell-trap {
        top: 256px;
        font-size: 76px;
        right: 94px;
        letter-spacing: 2px;
    }

    .pendulum-description {
        font-size: 36px;
        letter-spacing: 2px;
    }

    .card-description {
        font-size: 36px;
        letter-spacing: 2px;

        .card-effect {
            font-size: 44px;
            text-indent: -0.5em;
        }
    }
}